/* General body and html styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Hide horizontal scroll */
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main container */
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in width */

  /* Color Palette Variables */
  --color-background: #f8f9fa; /* Light Gray */
  --color-primary: #465f79; /* Dark Gray-Blue */
  --color-secondary: #ecf0f1; /* Soft White */
  --color-accent: #3498db; /* Light Blue */
  --color-text: #333; /* Dark Gray */
  --color-highlight: #e74c3c; /* Red-Orange */
  --color-light-gray: #bdc3c7;
  --color-soft-green: #2ecc71;
}

/* Pages */
.homepage,
.games-page,
.deals-page,
.support-page .auth-page {
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Carousel */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.9; /* Slightly dim the image */
}

.carousel-item .carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--color-secondary);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px;
  border-radius: 5px;
}

/* Carousel buttons */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.carousel-button-prev {
  left: 10px;
}

.carousel-button-next {
  right: 10px;
}

.carousel-button:hover {
  background-color: var(--color-highlight); /* Change color on hover */
}
