.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 450px; /* Ajusta la altura según tus necesidades */
  max-width: 1600px; /* Limita el ancho máximo del carrusel */
  margin: 0 auto; /* Centra el carrusel horizontalmente */
  padding: 0; /* Elimina cualquier padding */
  box-sizing: border-box;
  background-color: transparent; /* Asegúrate de que no haya color de fondo */
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Asegura que no haya padding/margin adicionales */
}

.carousel-item {
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
  margin: 0;
  padding: 0;
  display: block;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo */
  z-index: 1;
}

.carousel-text {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-button-prev {
  left: 0;
}

.carousel-button-next {
  right: 0;
}
