/* Popular Games */
.popular-games {
  padding: 3rem 2rem; /* Aumenta el espacio alrededor de la sección */
  text-align: center; /* Centra el título */
  background-color: var(--color-background); /* Fondo claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.title-box {
  display: inline-block; /* Hace que el contenedor sea tan grande como el contenido */
  padding: 1rem 2rem; /* Espaciado interno del cuadro */
  border: 2px solid var(--color-primary); /* Borde del cuadro */
  border-radius: 8px; /* Bordes redondeados */
  background-color: var(--color-primary); /* Fondo blanco dentro del cuadro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del cuadro */
}

.popular-games h2 {
  font-size: 2rem; /* Aumenta el tamaño del título */
  color: var(--color-background); /* Usa el color principal */
  margin-bottom: 1rem; /* Espacio debajo del título */
  text-transform: uppercase; /* Letras en mayúsculas */
  letter-spacing: 0; /* Espacio entre letras */
  font-weight: bold; /* Resalta el título */
}

/* GameCard.css */
.game-card {
  position: relative;
  background-color: var(--color-white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 270px; /* Aumenta el ancho de la tarjeta */
  height: 250px; /* Aumenta la altura de la tarjeta */
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Ajusta el tamaño mínimo */
  gap: 1.5rem; /* Aumenta el espacio entre las tarjetas */
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9; /* Añade opacidad a la imagen */
  transition: opacity 0.3s ease;
}

.game-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: #fff; /* Color blanco para el texto */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.game-card:hover .game-card-overlay {
  opacity: 1; /* Mostrar la superposición al pasar el cursor */
}

.game-card-title {
  font-size: 1.75rem; /* Aumenta el tamaño del texto del título */
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.add-to-cart {
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem; /* Aumenta el tamaño del botón */
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem; /* Aumenta el tamaño del texto dentro del botón */
  display: none; /* Oculta el botón por defecto */
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, background-color 0.3s ease; /* Añade transición al color de fondo */
}

.add-to-cart i {
  margin-right: 0.5rem;
}

.game-card:hover .add-to-cart {
  display: flex; /* Muestra el botón solo al pasar el cursor */
}

.add-to-cart:hover {
  background-color: var(
    --color-highlight
  ); /* Resalta el botón al pasar el cursor */
}
