.App {

}
body{
  color: #ffffff;

  font-family: Arial, serif;
  margin: 0;
}
.principal{
  color: rgba(0, 0, 0);
  background: linear-gradient(to bottom, grey,slategrey);
  margin-top:0;
  height: 100vh;

}

h1{
  text-align: center;
  align-content: center;
  padding-bottom: 10px ;
  font-size: 30px;
}

.form-input{
  margin-top: 10px;
  padding: 2px 10px;
}
form{
  background-color: transparent;
  padding: 20px 0;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0px 10px rgb(82, 82, 82);

  border-radius: 10px;
}
input, select {
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 6px 12px;
  border: 1px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 5px;
  color: #eee;
  margin-top: 5px;
}

legend{
  color: rgba(255, 255, 255);
}

fieldset{
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin: 20px;
  padding: 0px 10px 20px 1px;
}
.botonf{
  padding: 20px 150px;
}
.boton-final{
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 16px;
}
label{
  font-size: 1em;
  line-height: 1;
}

.checkbox {

  min-width:10px ;
  height: 11px;
}
