.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section p {
  font-size: 14px;
  cursor: pointer;
}

.footer-section img {
  width: 190px;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.footer-section img:hover {
  transform: translateY(-5px);
}

.footer-section.logo .brand-name {
  margin-top: -15px;
  font-size: 20px;
  color: #fff;
}

.footer-section.logo .brand-name:hover {
  color: var(--color-highlight);
}

.app-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.app-links img {
  width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}

.app-links img:hover {
  transform: translateY(-5px);
}

.support-icons {
  display: flex;
  flex-direction: column; /* Apila los íconos verticalmente */
  align-items: center;
  gap: 30px; /* Espacio entre los íconos */
  margin-top: 10px;
}

.support-icon {
  display: flex;
  flex-direction: column; /* Apila el ícono y el texto verticalmente */
  align-items: center;
}

.support-icon i {
  font-size: 20px; /* Tamaño del ícono */
  color: #fff; /* Color del ícono */
  transition: color 0.3s ease; /* Suaviza el cambio de color */
}

.support-icon i:hover {
  color: #aaa; /* Cambia el color del ícono al hacer hover */
}

.contact-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.contact-icons a {
  color: #fff; /* Color de los íconos */
  font-size: 20px; /* Tamaño de los íconos */
  transition: color 0.3s ease; /* Suaviza el cambio de color */
}

.contact-icons a:hover {
  color: #aaa; /* Cambia el color al hacer hover */
}
