/* Estilos de la Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
  color: #fff;
  top: 0;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px; /* Reduce para acercar los enlaces entre sí */
  margin-right: 10px; /* Añade un margen pequeño para acercar los enlaces al login */
}

.navbar-links li {
  margin: 0;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #e74c3c;
}

.navbar-login {
  margin-left: 10px; /* Ajuste para acercar el botón de login */
}

.navbar-login .login-button {
  padding: 8px 15px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar-login .login-button:hover {
  background-color: #e74c3c;
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-logo .brand-name {
    font-size: 1.2rem;
  }

  .navbar-login .login-button {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}
